figure{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    border: solid 1px black;
    margin: 10%;

   
    & div {
        display: flex;
        gap: 10px;
        align-items: center;
        
        
        & img {
            width: 50px;

        }
    }

    & p {
       text-align: justify; 
       margin-bottom: 15px;

    }

}

.fotocara{

    width: 50%;
    height: 30%;
    object-fit: cover;
    margin: 0% auto;  

}